.mine{
    display: flex;
    justify-content: space-around;
    margin-top: 8%;
    padding:0;
    margin-left: 2%;
    margin-right: 2%;
    background: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
    box-shadow: -3px -3px 25px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
    border-radius: 25px;
    
}

.tv, .web{
    margin-top: 0;
    width: 100%;
}

.tv-head, .web-head{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 6, 90);
    text-shadow: -1px -2px 1px rgba(27, 2, 37, 0.753) , 2px 2px 1px rgb(59, 6, 90);
    margin-top: 5%;
    height: 100px;
    display:flex;
    justify-content: center;
}

.mine:hover{
    transition: 0.2s ease-in-out;
    box-shadow: -3px -3px 10px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
}

.online{
    position: static;
    float: right;
    right: 5%;
    color: white;
    font-weight: bold;
    margin-right: 5%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #aa12c9;
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    margin-top: 2%;
}

.online:hover{
    background-color: rgb(190, 74, 236);
}

.card-container{
    max-width: 1000px;
    margin: 100px auto;
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0%;
    
}

.card{
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0,0,0,.5);
}

.imgBox img{
    width: 100%;
    height: 100%;
}

.card:hover{
    z-index: 1000;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,.5);
}

.card .imgBox{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
    background-color: black;
}

.card:hover .imgBox{
    transform: rotateY(-135deg);
}

.card .imgBox .img{
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;

}

/*===================== category ================================*/


.category{
    text-transform: uppercase;
    margin-top: 5%;
    padding: 3%;
    display: grid;
    box-shadow: -3px -3px 25px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
}

.category:hover{
    box-shadow: -3px -3px 5px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
}

.head{
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
    background-color: whitesmoke;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 6, 90);
    text-shadow: -1px -2px 1px rgba(27, 2, 37, 0.753) , 2px 2px 1px rgb(59, 6, 90);
    display:flex;
    justify-content: center;
}

.region h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(59, 6, 90);
    display:flex;
    justify-content: center;
    text-transform: uppercase;
}


.tabs{
    display: flex;
    margin-bottom: 0;
    /* border-bottom: 1px solid #ccc; */
    }
    
.tabs button{
        text-transform: uppercase;
        background: transparent;
        outline: none;
        border-width: 1px;
        border-color: #aa12c9;
        border: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        box-shadow: 0 0 6px #aa12c9; 
        cursor: pointer;
        padding: 14px 16px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(59, 6, 90);
}
    
.tabs .fas{
        margin-right: 20px;
}
    
.tabs button:hover{
        color: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color:  #aa12c9;
}

.search{
    border: 2px solid #aa12c9;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
    width: 50%;
    margin-top: 2%;
    display: flex;
}

.search input[type=text] {
    background-color: whitesmoke;
  }

.searchCon{
    display: flex;
}

.searchCon img{
    margin-left: 1%;
    width: 5%;
}
.search:hover{
    width: 80%;
    transition: 0.2s ease-out;
}

.catCont{
    display: flex;
    
    
}

.contnt{
    width: 50%;
}


.region{
    width: 50%;
    
}

.table{
    width: 100%;
    padding: 3%;
    
}

.table tr{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

.table tr td .regions{
    height: 100px;
    width: 100%;
    border-radius: 5%;
    box-shadow: -3px -3px 25px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
    background-color:  #aa12c9;
}


.table tr td .regions:hover{
    box-shadow: -3px -3px 5px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
    transition: 0.3s ease-in-out;
}

.table1{
    width: 100%;
    height: 100%;
}

.table1 tr td .con{
    text-align: center;
    color: #aa12c9;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    height: 200px;
    box-shadow: -3px -3px 25px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
    background-color:  white;
}

.table1 tr td .con:hover{
    box-shadow: -3px -3px 5px rgba(27, 2, 37, 0.753) , 3px 3px 5px rgb(59, 6, 90);
}

.imgBoxCon{
   
    width: 100%;
    height: 75%;
}

.imgBoxCon img{
    width: 80%;
}