@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #aa12c9;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 180vh;
    margin: 0;
    text-transform: uppercase;
}

.container {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 15px 35px  rgba(0, 0, 0, 0.568);
	overflow: hidden;
	width: 800px;
    max-width: 100%;
}

.container:hover{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.568);
}


.header {
    color: rgb(59, 6, 90);
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
    height: 125px;
}
.header h2{
    padding: 20px 40px;
}
/* tabs */


.btn-box{
display: flex;
margin-bottom: 0;
/* border-bottom: 1px solid #ccc; */
}

.btn-box button{
    background: transparent;
    outline: none;
    border-width: 1px;
    border-color: #aa12c9;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 0 6px #aa12c9; 
    cursor: pointer;
    padding: 14px 16px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(59, 6, 90);
}

.btn-box .fas{
    margin-right: 20px;
}

.btn-box button:hover{
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color:  #aa12c9;
}

 

.header h2 {
	margin: 0;
}



.form {
	padding: 20px 40px;	
}

.form-control {
    width: 50%;
	margin-bottom: 10px;
	padding-bottom: 20px;
	/* position: relative; */
}

#col1{
    width: 50%;
}

#col2{
    width: 50%;
}

.mainform{
    width: 100%;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input, .cat, .own, .region, .cntry, .res{
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 50%;
}

.form-control input:hover, .cat:hover, .own:hover, .region:hover, .cntry:hover, .res:hover{

    outline: 0;
    border-color:rgb(190, 74, 236);
	width: 100%;
	transition: 0.5s ease-in-out;
}


.form-control input:focus, .cat:focus, .own:focus, .region:focus, .cntry:focus, .res:focus{
	outline: 0;
    border-color:rgb(59, 6, 90);
    width: 100%;
}


.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input{
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	/* position: absolute; */
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}


/*error message*/
.form-control small {
	color: #e74c3c;
	/* position: absolute; */
	bottom: 0;
	left: 0;
    visibility: hidden;
    
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: rgb(190, 74, 236);
	border: 2px solid #aa12c9;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
	border-radius: 40px;
}

.form button:focus {
	outline: 0;
	border-color:#aa12c9;
}

.form button:hover {
    background-color: #aa12c9;
}

.check{
	width: 20px;
	height: 20px;
	margin-bottom: 10%;
}


.submit{
    margin: 10px 0;
    margin-bottom: 15px;
    text-decoration: none;
    color: white;
    padding: 12px 36px;
    border-radius: 40px;
    font-family: cursive;
    background: linear-gradient(90deg,rgb(59, 6, 90),#aa12c9);
    box-shadow: -3px -3px 13px rgb(190, 74, 236) ,inset 3px 3px 10px rgb(59, 6, 90);
}

.submit:hover{
    box-shadow: -3px -3px 3px rgb(190, 74, 236) ,inset 3px 3px 10px rgb(59, 6, 90);
}


/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}